.about-us-container {
  display: flex;
  margin-top: 8rem;
}

.about-us-img {
  background-image: url(../../assets/People.jpg);
  background-repeat: no-repeat;
  width: 50vw;
  height: 935px;
}
.about-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: $color1;
}
.about-us-box {
  width: 65%;
  color: $primaryTextColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 3.8rem;
    font-weight: 400;
    line-height: 5.5rem;
    letter-spacing: -0.76px;
    margin-bottom: 4rem;
  }
  p {
    font-size: 3rem;
    line-height: 5.4rem;
    text-align: center;
    letter-spacing: -0.6px;
    margin-top: 6.2rem;
    margin-bottom: 4rem;
  }
}