.contact-container {
  height: 100vh;
  background-image: url(../../assets/Background-Contact-Form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-container-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.contact-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
  margin-right: 14rem;

  .contact-form-title {
    text-align: center;
    font-size: 3.8rem;
    line-height: 5.5rem;
    letter-spacing: -0.76px;
    font-weight: 400;
    margin-bottom: 4rem;
  }

  .form-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    &-label {
      display: flex;
      flex-direction: column;
      font-size: 1.6rem;
      font-weight: 400;
      width: 100%;
      margin-right: 1.6rem;

      input {
        border: none;
        border-bottom: 1px solid #707070;
        background-color: transparent;
        padding-top: 1.2rem;
        padding-bottom: 0.5rem;

        &::placeholder {
          font: 400 18px/24px $font-base;
          color: #3c3c3c26;
        }
      }

      textarea {
        border: none;
        border-bottom: 1px solid #707070;
        background-color: transparent;
        padding: 0.5rem;
        height: 10.2rem;

        &::placeholder {
          font: 400 18px/24px $font-base;
          color: #3c3c3c26;
        }
      }
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 7rem;
}

.form-submit {
  margin-top: 4.4rem;
  width: 15rem;
  height: 5rem;
  border: 0.75px solid $primaryTextColor;
  text-align: center;
  background-color: transparent;
  font: 300 18px/32px $font-base;
  color: #000;
  align-self: flex-end;
  cursor: pointer;

  &:hover {
    border: 1px solid #fad648;
  }
}
.contact-correct-form {
  color: $color2;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
}
