.contact-container {
  height: 100vh;
  background-image: url(../../assets/Background-Contact-Form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-container-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.contact-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;

  .contact-form-title {
    font-size: 3.8rem;
    line-height: 5.5rem;
    letter-spacing: -0.76px;
    font-weight: 400;
  }

  .form-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    &-label {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
}
