.simple-steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $primaryTextColor;

  h2 {
    font-size: 3.8rem;
    line-height: 5.5rem;
    letter-spacing: -0.76px;
    font-weight: 400;
    margin-top: 5.5rem;
    margin-bottom: 3rem;
  }

  button {
    margin-top: 3.5rem;
    border: 0.75px solid #3C3C3C;
    width: 31rem;
    height: 12rem;
    background-color: transparent;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: $font-base;
      font-size: 3.6rem;
      line-height: 4.5rem;
      font-weight: 300;
      color: $primaryTextColor;
    }
  }
}

.simple-steps-main-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f0f1f1;
  margin-top: 3.5rem;
}

.simple-steps-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32.5rem;
  width: 80%;
}

.simple-steps-main-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  hr {
    border: 1px solid #707070;
    width: 7rem;
    height: 0;
  }

  p {
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}