.login-container {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-title {
    font-size: 4rem;
    line-height: 5.5rem;
    letter-spacing: -0.80px;
    font-weight: 400;
    color: $primaryTextColor;
    margin-bottom: 4rem;
  }
}

.login-form {

  .login-form-content {
    background: #F0F1F1 0 0 no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    padding: 4rem 0 1rem 0;
    margin-top: 3rem;
    .login-input-label {
      display: flex;
      flex-direction: column;
      height: 6rem;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 3.5rem;
      margin-bottom: 3rem;
      input {
        width: 25rem;
        border: none;
        border-bottom: 1px solid #707070;
        background-color: transparent;
        padding: 0.5rem;
        margin: 0.2rem;
      }
      input:focus {
        outline: none;
        border-bottom: 1px solid #fad648;
      }
    }
  }
}
.login-btn-content {
  width: 130%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  transform: translate(-5rem);
  a, button {
    border: none;
    text-decoration: none;
    color: #000;
    font: 300 1.8rem/3.2rem $font-base;
    padding: 0.7rem 1.2rem;
    background-color: transparent;
    &:hover {
      border: 0.75px solid $primaryTextColor;
    }
  }
}