//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:300,400,700&display=swap&subset=latin-ext');

$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather', serif;
